<nav class="navbar">
        <div class="right">
            <ul>
                <li><a href="/">HOME</a></li>
                <li>CONTACT</li>
            </ul>
        </div>
        <div class="left">
            <ul>
                <li><a href="/register">registration</a></li>
                <li><a href="/login">login</a></li>
            </ul>
        </div>
    </nav>